# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual env
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Data
data/raw/
data/interim/
data/processed/

# Models
models/*.pt
models/*.pth
models/*.pkl
models/*.joblib

# Results
results/tmp/